.sidenavContainer{
    padding: 4vh 1.75vw;
    height: 92vh;
}

.sidenavContainer .user img{
    width: 3vw;
    margin-bottom: 0.65vh;
    transform: scale(0);
    animation: grow 0.25s ease-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes grow{
    from{
        transform: scale(0);
    }

    to{
        transform: scale(1);
    }
}

.sidenavContainer .user .userName{
    width: 3vw;
    color: #ccc5dd;
    text-align: center;
    font-weight: 600;
    font-size: 1.6vh;
    line-height: 1.4;
    letter-spacing: 0.045vw;
    opacity: 0;
    animation: fade-in 0.5s ease-out;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
}

@keyframes fade-in{
    from { opacity: 0; }
    to { opacity: 1; }
}

.sidenavContainer .action{
    width: 1.25vw;
}

.sidenavContainer .action img{
    width: 100%;
    margin: 2.5vh 0.75vw;
    cursor: pointer;
    opacity: 0;
    animation: fade-in 0.5s ease-out;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
}